<div class="container">
  <h1><%= current_user.name %></h1>


  Title: <%= @title %><br>
  Total Posts: <%= @total_posts %><br>

  <div class="row">
    <div class="col s12 offset-s3">
      <%#= image_tag(@avatar) %>
      <%= image_tag("http://40.media.tumblr.com/f4c8cde461f53b4aaef4451fc247f30a/tumblr_my0xm6LBsX1qdzaxuo1_400.jpg") %>
    </div>
  </div>
</div>
