nav {
    color: #757575;
    background-color: #0e3958;
}

body {
  color: #fff;
  background-color: #0e3958;
}

html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

.user-posts {
  
}
